.App {
  text-align: center;
  background-color: #373c47;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.notepad-button {
  margin-right: 10px;
  background-color: white;
  color: black;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  height: 33px;
  width: 20%;
  transition-duration: 0.3s;
}

.notepad-button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.notepad-button.primary-button {
  background-color: rgb(10, 114, 10);
  color: #fff;
}

.notepad-button.primary-button:enabled:hover {
  background-color: rgb(8, 172, 8);
}

.notepad-button.danger-button {
  background-color: rgb(95, 10, 10);
  color: #fff;
}

.notepad-button.danger-button:hover {
  background-color: rgb(148, 17, 17);
}
