.note-card-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.2);
}

.note-card {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    border: 2px solid white;
    border-radius: 5%;
    height: 500px;
    overflow-y: auto;
    box-shadow: -20px 20px 20px #1f1f1f;
    padding: 15px;
    color: white;
    position: fixed;
    z-index: 1000;
    background: #616161;
}

.note-card .note-bottom-buttons {
    display: flex;
    justify-content: flex-end;
}

.note-card .note-bottom-buttons .notepad-button {
    margin-right: 10px;
    background-color: white;
    color: black;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    height: 33px;
    width: 20%;
    transition-duration: 0.3s;
}

.note-card .note-bottom-buttons .notepad-button.primary-button {
    background-color: rgb(10, 114, 10);
    color: #fff;
}

.note-card .note-bottom-buttons .notepad-button.primary-button:hover {
    background-color: rgb(8, 172, 8);
}

.note-card .note-bottom-buttons .notepad-button.danger-button {
    background-color: rgb(95, 10, 10);
    color: #fff;
}

.note-card .note-bottom-buttons .notepad-button.danger-button:hover {
    background-color: rgb(148, 17, 17);
}

#note-title,
#note-body {
    color: #fff;
    background: transparent;
    outline: none;
    border: none;
}

#note-title:focus,
#note-body:focus {
    box-shadow: 0 0 2px 2px #535353;
}

#note-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

#note-body {
    width: 100%;
    height: 70%;
    margin-top: 40px;
    resize: none;
}